<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title> Upload a File </title>
</head>
<body>

<h1>
    Upload Your Photos
</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
    <div>
        <label>Filename:</label>
        <input type="file" name="file" /> <br/>
    </div>

    <div>
        <label>Filename:</label>
        <input type="file" name="file"  /> <br/>
    </div>

    <input type="submit" name="submit" value="Submit"/>

</form>

</body>
</html>